<!-- Data Field -->
<div ng-controller="main" ng-show="authentication.success" class="body">

    <div class="dual">
        <form>

            <label>Project Name:&nbsp;</label><br />
            <select class="btn" style="border:1px solid silver;" ng-model="projectChosen" data-html="1" ng-options="project for project in projectList" ng-change="getRelease()" ng-disabled="!projectList">
                <option value="">Choose Project</option>
            </select> <br /><br />

            <label>Release Name:&nbsp;</label><br />
            <select class="btn" style="border:1px solid silver;" ng-model="releaseChosen" data-html="1" ng-options="release for release in releaseList" ng-change="getTreeData()" ng-disabled="!releaseList">
                <option value="">Choose Release</option>
            </select> <br /><br />

            <label>Iteration: &nbsp;</label><br />
            <select disabled class="btn" style="border:1px solid silver;" ng-model="iterationChosen" data-html="1" ng-options = "iteration for iteration in iterationList" ng-change="filterIteration()" <!--ng-disabled="!iterationList"-->>
            <option value="">Choose Iteration</option>
            </select> <br /><br />

            <div>
                <b>Search:&nbsp;</b>
                <input type="text" id="treeSearch" value="" class="input" style="padding:4px; border-radius:4px; border:1px solid silver;" />
                <input type="button" value="Refresh" ng-click="getTreeData()"></input>
                <input type="button" value="Undo" ng-click="undoAction()" ng-disabled="!undoArray.length"></input>
                <input type="button" value="Logout" ng-click="logOut()"></input><br />
            </div>

        </form>

        <div>
            <form>
                <label>Enable edit</label>
                <input type="checkbox" ng-change="editEnable();" ng-model="enabled" ng-init="enabled=false">
            </form>
        </div>

        <div ng-if="load" class="animate-if">  Loading...<img id="spinner" class="throbber" src="lib/jstree/themes/default/throbber.gif"></div>

        <div jstree ng-model="tree" iteration-filter="iterationFilter" undo="undoData" move-node="moveNode(nodeInfo)" store-node="storeNode(nodeID)"></div>

    </div>
</div>

<div ng-controller="main" ng-show="authentication.success" class="body">

    <div class="dual">
        <form>

            <label>Project Name:&nbsp;</label><br />
            <select class="btn" style="border:1px solid silver;" ng-model="projectChosen" data-html="1" ng-options="project for project in projectList" ng-change="getRelease()" ng-disabled="!projectList">
                <option value="">Choose Project</option>
            </select> <br /><br />

            <label>Release Name:&nbsp;</label><br />
            <select class="btn" style="border:1px solid silver;" ng-model="releaseChosen" data-html="1" ng-options="release for release in releaseList" ng-change="getTreeData()" ng-disabled="!releaseList">
                <option value="">Choose Release</option>
            </select> <br /><br />

            <label>Iteration: &nbsp;</label><br />
            <select disabled class="btn" style="border:1px solid silver;" ng-model="iterationChosen" data-html="1" ng-options = "iteration for iteration in iterationList" ng-change="filterIteration()" <!--ng-disabled="!iterationList"-->>
            <option value="">Choose Iteration</option>
            </select> <br /><br />

            <div>
                <b>Search:&nbsp;</b>
                <input type="text" id="treeSearch" value="" class="input" style="padding:4px; border-radius:4px; border:1px solid silver;" />
                <input type="button" value="Refresh" ng-click="getTreeData()"></input>
                <input type="button" value="Undo" ng-click="undoAction()" ng-disabled="!undoArray.length"></input>
                <input type="button" value="Logout" ng-click="logOut()"></input><br />
            </div>

        </form>

        <div>
            <form>
                <label>Enable edit</label>
                <input type="checkbox" ng-change="editEnable();" ng-model="enabled" ng-init="enabled=false">
            </form>
        </div>

        <div ng-if="load" class="animate-if">  Loading...<img id="spinner" class="throbber" src="lib/jstree/themes/default/throbber.gif"></div>

        <div jstree ng-model="tree" iteration-filter="iterationFilter" undo="undoData" move-node="moveNode(nodeInfo)" store-node="storeNode(nodeID)"></div>

    </div>
</div>

<!-- Buttonbar popover -->
<div ng-include="'popover.html'"></div>